@()
<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
        <title>Atmosphere Play File Downloader</title>
            <!-- Atmosphere -->
        <script type="text/javascript" src="/assets/javascripts/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" >
        $ ( function ( ) {
        var ws = new WebSocket ( "ws://localhost:8081/files-updating" ) ;

        ws.onopen = function ( evt ) {
        console.log ( evt )
        }
        ws.onmessage = function ( evt ) {
            var messageJson = JSON.parse ( evt.data ) ;
            console.log ( messageJson ) ;
            if ( messageJson._type = "info" ) {

            }
            else if ( messageJson._type = "start_file" ) {

            }
            else if ( messageJson._type = "upd_file" ) {

            }
            else if ( messageJson._type = "end_file" ) {

            }
            }

        } )
        </script>
    </head>
    <body>
        <div id="list">

        </div>
        <div id="events">

        </div>
    </body>
</html>

